@font-face {
  font-family: "Consolas";
  src: url("../fonts/consola.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vega SB";
  src: url("../fonts/VegaSB-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  touch-action: none;
}

body  {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.Selector {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Consolas';
  color: #fff;
}

.Selector::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.65);
}

.Selector__Content {
  position: relative;
  padding: 32px;
}

.Selector__Header,
.Selector__Subheader {
  text-align: center;
}

.Selector__Header {
  margin: 0 0 120px;
  font-size: 24px;
}

.Selector__Subheader {
  margin: 0 0 64px;
  font-size: 20px;
}

.Selector__Selector {
  display: flex;
  justify-content: center;
  margin: 0 -16px;
}

.Selector__Button {
  display: block;
  flex: 1 1 auto;
  max-width: 64px;
  padding: 40px 32px;
  margin: 0 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.Selector__Button:hover {
  background-color: #fff;
  color: #000;
}

.Fmc {
  display: none;
  position: relative;
  width: 1036px;
  height: 1561px;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.Fmc__Display {
  position: absolute;
  width: 747px;
  height: 567px;
  top: 96px;
  left: 146px;
  overflow: hidden;
}

.Fmc__Display::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/display-glare.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Fmc__Display--Scratched::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/display-scratches.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Fmc__Screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 17px 19px;
  box-sizing: border-box;
  font-family: 'Consolas';
  font-weight: 400;
  font-size: 44px;
  line-height: 37px;

}

.Fmc__Screen span {
  text-shadow: 0px -1px 6px rgba(255, 2, 2, .75);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(24, auto);
  grid-template-rows: repeat(14, 36px);
  column-gap: 0px;
  row-gap: 1px;
}

.grid-item-line {
  font-size: 42px;
  line-height: 32px;
  text-align: center;
  padding: 0px;
}

.grid-item-label {
  font-size: 28px;
  line-height: 16px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 10px;
}

.grid-item-page {
  font-size: 22px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 5px;
}

.grid-item-inout {
  font-size: 42px;
  line-height: 32px;
  text-align: center;
  padding-top: 10px;
  padding-left: 4%;
}

.Fmc__Screen .white {
  color: rgba(254, 255, 243, .95);
  /* text-shadow: 0px -1px 6px rgba(254, 255, 243, .6); */
}

.Fmc__Screen .cyan{
  color: rgba(0, 255, 255, .95);
  /* text-shadow: 0px -1px 6px rgba(0, 255, 255, .6); */
}

.Fmc__Screen .amber {
  color: rgba(255, 191, 0, .95);
  /* text-shadow: 0px -1px 6px rgba(255, 191, 0, .6); */
}

.Fmc__Screen .green {
  color: rgba(29, 170, 5, .95);
  /* text-shadow: 0px -1px 6px rgba(29, 170, 5, .6); */
}

.Fmc__Screen .red {
  color: rgba(255, 0, 0, .95);
  /* text-shadow: 0px -1px 6px rgba(255, 0, 0, .6); */
}

.Fmc__Screen .magenta {
  color: rgba(255, 0, 255, .95);
  /* text-shadow: 0px -1px 6px rgba(255, 0, 255, .6); */
}

.Fmc__Screen .gray {
  color: rgba(128, 128, 128, .95);
  /* text-shadow: 0px -1px 6px rgba(128, 128, 128, .6); */
}

.Fmc__Case {
  position: absolute;
}

.Fmc__Buttons {
  position: relative;
}

.Fmc__Button {
  position: absolute;
  display: flex;
  margin-top: -3px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Vega SB';
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.Fmc__Button:active {
  margin-top: 1px;
}

.Fmc__Button--Lsk {
  width: 60px;
  height: 42px;
  background-image: url(../images/button-lsk.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fmc__Button--Lsk:active {
  margin-top: 0;
}

.Fmc__Button--Fn {
  width: 106px;
  height: 69px;
  background-image: url(../images/button-fn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 32px;
  line-height: 26px;
}

.Fmc__Button--Num {
  width: 63px;
  height: 61px;
  padding-top: 6px;
  background-image: url(../images/button-num.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 52px;
}

.Fmc__Button--Key {
  width: 70px;
  height: 68px;
  padding-top: 2px;
  background-image: url(../images/button-key.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 52px;
}

.Fmc__Button--Border::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  border: 4px solid #fff;
  border-radius: 5px;
}

.Fmc__Button--Lsk1L { top: 178px; left: 34px; }
.Fmc__Button--Lsk2L { top: 253px; left: 34px; }
.Fmc__Button--Lsk3L { top: 328px; left: 34px; }
.Fmc__Button--Lsk4L { top: 403px; left: 34px; }
.Fmc__Button--Lsk5L { top: 478px; left: 34px; }
.Fmc__Button--Lsk6L { top: 553px; left: 34px; }

.Fmc__Button--Lsk1R { top: 178px; left: 944px; }
.Fmc__Button--Lsk2R { top: 253px; left: 944px; }
.Fmc__Button--Lsk3R { top: 328px; left: 944px; }
.Fmc__Button--Lsk4R { top: 403px; left: 944px; }
.Fmc__Button--Lsk5R { top: 478px; left: 944px; }
.Fmc__Button--Lsk6R { top: 553px; left: 944px; }

.Fmc__Button--InitRef  { top: 726px; left: 119px; }
.Fmc__Button--Rte      { top: 726px; left: 249px; }
.Fmc__Button--Clb      { top: 726px; left: 378px; }
.Fmc__Button--Crz      { top: 726px; left: 507px; }
.Fmc__Button--Des      { top: 726px; left: 637px; }
.Fmc__Button--Menu     { top: 816px; left: 119px; }
.Fmc__Button--Legs     { top: 816px; left: 249px; }
.Fmc__Button--DepArr   { top: 816px; left: 378px; }
.Fmc__Button--Hold     { top: 816px; left: 507px; }
.Fmc__Button--Prog     { top: 816px; left: 637px; }
.Fmc__Button--Exec     { top: 816px; left: 781px; }
.Fmc__Button--N1Limit  { top: 905px; left: 119px; }
.Fmc__Button--Fix      { top: 905px; left: 249px; }
.Fmc__Button--PrevPage { top: 996px; left: 119px; }
.Fmc__Button--NextPage { top: 996px; left: 249px; }

.Fmc__Button--1         { top: 1140px; left: 126px; }
.Fmc__Button--2         { top: 1140px; left: 223px; }
.Fmc__Button--3         { top: 1140px; left: 320px; }
.Fmc__Button--4         { top: 1241px; left: 126px; }
.Fmc__Button--5         { top: 1241px; left: 223px; }
.Fmc__Button--6         { top: 1241px; left: 320px; }
.Fmc__Button--7         { top: 1340px; left: 126px; }
.Fmc__Button--8         { top: 1340px; left: 223px; }
.Fmc__Button--9         { top: 1340px; left: 320px; }
.Fmc__Button--Dot       { top: 1443px; left: 126px; }
.Fmc__Button--0         { top: 1443px; left: 223px; }
.Fmc__Button--PlusMinus { top: 1443px; left: 320px; }


.Fmc__Button--PlusMinus {
  font-size: 48px;
}

.Fmc__Button--PlusMinus::before {
  content: '+';
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 40px;
}


.Fmc__Button--PlusMinus::after {
  content: '-';
  position: absolute;
  bottom: -3px;
  right: 13px;
  font-size: 40px;
}

.Fmc__Button--A { top: 934px; left: 439px; }
.Fmc__Button--B { top: 934px; left: 540px; }
.Fmc__Button--C { top: 934px; left: 641px; }
.Fmc__Button--D { top: 934px; left: 741px; }
.Fmc__Button--E { top: 934px; left: 842px; }
.Fmc__Button--F { top: 1035px; left: 439px; }
.Fmc__Button--G { top: 1035px; left: 540px; }
.Fmc__Button--H { top: 1035px; left: 641px; }
.Fmc__Button--I { top: 1035px; left: 741px; }
.Fmc__Button--J { top: 1035px; left: 842px; }
.Fmc__Button--K { top: 1136px; left: 439px; }
.Fmc__Button--L { top: 1136px; left: 540px; }
.Fmc__Button--M { top: 1136px; left: 641px; }
.Fmc__Button--N { top: 1136px; left: 741px; }
.Fmc__Button--O { top: 1136px; left: 842px; }
.Fmc__Button--P { top: 1237px; left: 439px; }
.Fmc__Button--Q { top: 1237px; left: 540px; }
.Fmc__Button--R { top: 1237px; left: 641px; }
.Fmc__Button--S { top: 1237px; left: 741px; }
.Fmc__Button--T { top: 1237px; left: 842px; }
.Fmc__Button--U { top: 1338px; left: 439px; }
.Fmc__Button--V { top: 1338px; left: 540px; }
.Fmc__Button--W { top: 1338px; left: 641px; }
.Fmc__Button--X { top: 1338px; left: 741px; }
.Fmc__Button--Y { top: 1338px; left: 842px; }
.Fmc__Button--Z { top: 1439px; left: 439px; }
.Fmc__Button--Space { top: 1439px; left: 540px; }
.Fmc__Button--Delete { top: 1439px; left: 641px; }
.Fmc__Button--Slash { top: 1439px; left: 741px; }
.Fmc__Button--Clear { top: 1439px; left: 842px; }

.Fmc__Button--Space,
.Fmc__Button--Delete,
.Fmc__Button--Clear {
  font-size: 32px;
}

@media screen and (min-width: 500px) {
  .Selector__Header {
    font-size: 48px;
  }

  .Selector__Subheader {
    font-size: 32px;
  }
}
